<main class="flex flex-auto flex-center">
  <div class="center mx-auto p4">
    <%= image_tag(@user.image_url, width: 64, height: 64, class: "bg-gray circle") %>
    <% if @user.name? %>
      <h1 class="h2 mb1 regular mt2">
        <%= @user.name %>
      </h1>
    <% end %>

    <% if @user.twitter? %>
      <%= link_to("@#{@user.twitter}", "https://twitter.com/#{@user.twitter}", class: "block orange h4 regular mb1") %>
    <% end %>
    <span class="separator half-width mx-auto mb2 mt2"></span>
    <% if @user.bio? %>
      <p class="italic gray">
        <%= @user.bio %>
      </p>
    <% end %>
    <p>
      <%= link_to("/users/vcard/#{@user.id}") do %>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="32px" height="32px" viewBox="0 0 512 512"
          enable-background="new 0 0 512 512" xml:space="preserve"> <path
          fill="#AAA" id="share-4-icon" d="M134.021,328.384c36.645-159.582,219.143-196.722,219.143-196.722V82.534L462,191.191l-108.836,108.66 v-49.129C353.164,250.723,212.039,244.849,134.021,328.384z M354.049,348.426v40.028H91.01V218.083h57.562 c11.502-14.814,24.562-28.487,38.979-41.011H50v252.394h345.059V307.482L354.049,348.426z"/>
        </svg>
      <% end %>
    </p>
  </div>
</main>
